iframe {
	border: none;
}
a {
	text-decoration: none;
}

.container {
	max-width: 1000px;	
	margin: 0 auto;
	text-align: center;	
}
.content {
	
}

#autorefresh {
	
}

#area{
	background:#FFFFFF;
    resize: none;
	overflow: auto;
	overflow-x: hidden;
}

#area::-webkit-scrollbar-track{
	background-color: #e2e2e2;
}

#area::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}

#area::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: #545454;
}

.homeChat {
	height:100px;
    width:200px;
	margin: auto;
}

.homeChat>a {
	display: block;
	padding: 25px;
	width: 100px;
	border: 1px solid black;
}

.homeLogin {
	height:100px;
    width:200px;
	margin: auto;
}

.homeLogin>a {
	display: block;
	padding: 25px;
	width: 100px;
	border: 1px solid black;
}

.homeLogin>a:hover, .homeChat>a:hover {
	background-color: black;
	color: #FFFFFF;
}

.loginContent input {
	display: block;
	margin: 10px auto;
}
